<a href="https://colab.research.google.com/github/vmgc031283/Assignement_UI/blob/master/Copie_de_Victor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install PyDrive

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
downloaded = drive.CreateFile({'id':"1A9U1jaKCLsZRWb3WYI77ciy9Xdgm39OL"})   # replace the id with id of file you want to access
downloaded.GetContentFile('mta_1706.csv')

downloaded = drive.CreateFile({'id':"17G8g3lv_mdzCKodLH1S6jt-47zjGiSSa"})   # replace the id with id of file you want to access
downloaded.GetContentFile('mta_1708.csv')

downloaded = drive.CreateFile({'id':"1Qzn3KKP1CwGQbEvdUkXUsqkqnlIw6Lnv"})   # replace the id with id of file you want to access
downloaded.GetContentFile('mta_1710.csv')

downloaded = drive.CreateFile({'id':"1T6HDwsPxDobjmGMVPndDSVTQw82i8LSc"})   # replace the id with id of file you want to access
downloaded.GetContentFile('mta_1712.csv')

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime
import calendar

df_1 = pd.read_csv("mta_1706.csv", low_memory=False)
df_2 = pd.read_csv("mta_1708.csv", low_memory=False)
df_3 = pd.read_csv("mta_1710.csv", low_memory=False)
df_4 = pd.read_csv("mta_1712.csv", low_memory=False)

In [50]:
df_row = pd.concat([df_1, df_2, df_3, df_4])
pd.set_option('display.expand_frame_repr', False)

# To print row dataframe
print(df_row.head())
print('')

                  OriginName                  DestinationName ExpectedArrivalTime ScheduledArrivalTime Unnamed: 4
0                 4 AV/95 ST          BROWNSVILLE ROCKAWAY AV       6/1/2017 0:03             24:06:14        NaN
1  ST GEORGE FERRY/S61 & S91                S I MALL YUKON AV       6/1/2017 0:03             23:58:02        NaN
2     E 206 ST/BAINBRIDGE AV                 RIVERDALE 263 ST       6/1/2017 0:03             24:00:53        NaN
3           TEARDROP/LAYOVER    ROSEDALE LIRR STA via MERRICK       6/1/2017 0:04             24:03:00        NaN
4      RIVERDALE AV/W 231 ST  MOTT HAVEN 136 ST via CONCOURSE       6/1/2017 0:03             23:59:38        NaN

In [51]:
# To see shape
print(df_row.shape)

(4194300, 5)

In [53]:
#  grouping to see which pair has the largest frequency
df_row.groupby(['OriginName', 'DestinationName']).size().sort_values(ascending=False)

OriginName                       DestinationName
E 126 ST/2 AV                    SELECT BUS SERVICE SOUTH FERRY via 2 AV    26881
W 179 ST/BROADWAY                W FARMS RD SOUTHERN BL                     26125
BOSTON RD/E 180 ST               SELECT BUS JAMAICA via MAIN ST             25659
MERRICK BL/ARCHER AV             SELECT BUS BRONX ZOO via MAIN ST           25434
W 179 ST/BROADWAY                SOUNDVIEW PUGSLEY AV                       20856
                                                                            ...
NOSTRAND AV/AV H                 AVENUE X                                       4
NOSTRAND AV/AV U                 SHEPSHD BAY KNAPP ST via NOSTRND               3
CORPORAL KENNEDY ST/33 AV        NORTHERN BL                                    3
SURF AV/W 37 ST                  OCEAN PKY                                      2
WASHINGTON PLZ / WASHINGTON PLZ  FRSH PND RD                                    2
Length: 1201, dtype: int64

In [0]:
# Select DataFrame Rows Based on multiple conditions on columns
	
df_row_1 = df_row[(df_row['OriginName'] == "E 126 ST/2 AV") & (df_row['DestinationName'] == 'SELECT BUS SERVICE SOUTH FERRY via 2 AV' ) ]
df_row_2 = df_row[(df_row['OriginName'] == "W 179 ST/BROADWAY") & (df_row['DestinationName'] == 'W FARMS RD SOUTHERN BL' ) ]
df_row_3 = df_row[(df_row['OriginName'] == "BOSTON RD/E 180 ST") & (df_row['DestinationName'] == 'SELECT BUS JAMAICA via MAIN ST' ) ]
df_row_4 = df_row[(df_row['OriginName'] == "MERRICK BL/ARCHER AV") & (df_row['DestinationName'] == 'SELECT BUS BRONX ZOO via MAIN ST' ) ]
df_row_5 = df_row[(df_row['OriginName'] == "W 179 ST/BROADWAY") & (df_row['DestinationName'] == 'SOUNDVIEW PUGSLEY AV' ) ]

In [57]:
df_row = pd.concat([df_row_1, df_row_2, df_row_3, df_row_4,df_row_5])
pd.set_option('display.expand_frame_repr', False)

# To print row dataframe
print(df_row.head())
print('')

         OriginName                          DestinationName ExpectedArrivalTime ScheduledArrivalTime Unnamed: 4
9180  E 126 ST/2 AV  SELECT BUS SERVICE SOUTH FERRY via 2 AV       6/1/2017 4:44              4:45:30        NaN
9181  E 126 ST/2 AV  SELECT BUS SERVICE SOUTH FERRY via 2 AV       6/1/2017 4:44              4:45:21        NaN
9565  E 126 ST/2 AV  SELECT BUS SERVICE SOUTH FERRY via 2 AV       6/1/2017 4:54              4:56:31        NaN
9566  E 126 ST/2 AV  SELECT BUS SERVICE SOUTH FERRY via 2 AV       6/1/2017 4:54              4:56:12        NaN
9567  E 126 ST/2 AV  SELECT BUS SERVICE SOUTH FERRY via 2 AV       6/1/2017 4:54              4:54:12        NaN

In [58]:
# To see shape
print(df_row.shape)
print('')

(124955, 5)

In [0]:

# To print Data type
# print(df_row.info(verbose=True))
# print('')

# print(df_row.memory_usage())

# to convert column data type into category
df_row['OriginName'].astype('category')
df_row['DestinationName'].astype('category')

# count of missing values in each column:
# print(df_row.isnull().sum())
# print('')

# To print unique values
# OriginName = df_row['OriginName'].unique()
# print(OriginName)
# print(sorted(OriginName))

# DestinationName = df_row['DestinationName'].unique()
# print (DestinationName)
# print(sorted(DestinationName))

# To see shape
# print(df_row.shape)
# print('')

# To choose columns needed
df_row = df_row[["OriginName", "DestinationName", "ExpectedArrivalTime", "ScheduledArrivalTime"]]
# print(df_row.head())
# print('')

# To split column + convert str to int + set datetime.
df_row[['date_Arrival_RT','Arrival_RT']] = df_row['ExpectedArrivalTime'].str.split(expand=True)
# print(df_row.head())
# print('')

# count of missing values in each column :
# print(df_row.isnull().sum())
# print('')

# To drop those Nan values
df_row = df_row.dropna()
# count of missing values in each column:
# print(df_row.isnull().sum())
# print('')

In [0]:
# to prepare the data Hours, Minutes and Seconds
df_row['ScheduledArrivalTime'] = df_row['ScheduledArrivalTime'].str.replace("^24:", "00:", regex=True)
df_row['ScheduledArrivalTime'] = df_row['ScheduledArrivalTime'].str.replace("^25:", "01:", regex=True)
df_row['ScheduledArrivalTime'] = df_row['ScheduledArrivalTime'].str.replace("^26:", "02:", regex=True)
df_row['ScheduledArrivalTime'] = df_row['ScheduledArrivalTime'].str.replace("^27:", "03:", regex=True)
df_row['ScheduledArrivalTime'] = df_row['ScheduledArrivalTime'].str.replace("^28:", "04:", regex=True)
df_row['ScheduledArrivalTime'] = df_row['ScheduledArrivalTime'].str.replace("^29:", "05:", regex=True)
df_row['ScheduledAT'] = df_row['ScheduledArrivalTime'].apply(lambda x: datetime.strptime(x, '%H:%M:%S'))
df_row['RTArrival'] = df_row['Arrival_RT'].apply(lambda x: datetime.strptime(x, '%H:%M'))
# print(df_row.head())
# print('')

# difference
df_row['delays'] = df_row['ScheduledAT'] - df_row['RTArrival']
df_row['delays'] = df_row['delays'].apply(lambda x: abs(x).total_seconds())
# print(df_row.head())
# print('')

# Count
# print(df_row[df_row.delays > 80000].count())
# print('')

# dropping values over 80000sec
df_row = df_row[df_row['delays'] < 80000]
# print(df_row.head())
# print('')

#Checking unique values
# print(df_row['date_Arrival_RT'].unique())
# print('')

# Creating new column "delays_5min" from "delays"
df_row['delays_5min'] = np.where(df_row['delays'] > 300,'1','0')
# print(df_row.head())
# print('')

# To convert ScheduledArrivalTime into timestamp
df_row['Dep_time'] = pd.to_datetime(df_row['ScheduledArrivalTime'], format='%H:%M:%S').apply(pd.Timestamp)
# print(df_row.head())
# print('')

# To split column 'Dep_time'
# df_row[['date','Departure_time']] = df_row['Dep_time'].str.split(expand=True)

In [0]:
df_row['Dates'] = pd.to_datetime(df_row['Dep_time']).dt.date
df_row['Departure_time'] = pd.to_datetime(df_row['Dep_time']).dt.time
# print(df_row.head())
# print('')

# to choose columns needed
df_row = df_row[["date_Arrival_RT", "OriginName", "DestinationName", "Departure_time", "delays_5min"]]
# print(df_row.head())
# print('')

# to convert string/obj to datetime
df_row['dates'] = pd.to_datetime(df_row['date_Arrival_RT'])

# checking typedate
# print(df_row.dtypes)
# print('')

# to print dataframe with the coloumn converted.
# print(df_row.head())
# print('')

# to print dates
# print(df_row['dates'])
# print('')

# finding earliest oldest date to to know th range of period.
# print(min(df_row['dates']))
# print(max(df_row['dates']))
# print('')

# creating day of the week
df_row['day_of_week'] = df_row['dates'].dt.dayofweek


# creating day of the month
df_row['day_of_month'] = df_row['dates'].dt.day

# to split column in month
df_row['month'] = df_row['dates'].dt.month
# print(df_row.head())
# print('')

# to choose columns needed
df_row = df_row[["month","day_of_month","day_of_week","OriginName","DestinationName", "Departure_time", "delays_5min"]]
# print(df_row.head())
# print('')

# splitting Departure_time to covert them militarytime
df_row[['h','m','s']] = df_row['Departure_time'].astype(str).str.split(':', expand=True).astype(int)
# print('')

# Concatenate three numerical values to make a new column using pandas.
df_row['dep_time'] = df_row.h.astype(str) + df_row.m.astype(str) + df_row.s.astype(str)
# print('')

# printing
# print(df_row.head())
# print('')

# converting dep_time string astype() method of Python Pandas
df_row['dep_time'] = df_row['dep_time'].astype('int')
# print('')

# to choose columns needed
df_row = df_row[["month","day_of_month","day_of_week","OriginName","DestinationName", "dep_time", "delays_5min"]]
# print(df_row.head())
# print('')

# Counting zeros
# print(df_row.isin([0]).sum())
# print('')


# Dropping rows from column where some of the columns have value 0
df_row = df_row.drop(df_row[df_row['dep_time'] == 0].index)
# print('')

# Counting zeros
# print(df_row.isin([0]).sum())
# print('')

# binning or quantization.
# df_row['dep_time'] / 100
df_row['dep_time'] = df_row['dep_time'].div(100).round()
# print(df_row.head())
# print('')

# rounded number
m = (df_row.dtypes == 'float')
df_row.loc[:, m] = df_row.loc[:, m].astype(int)
# print(df_row.head())
# print('')

In [0]:
#  indicator columns from the ORIGIN and DEST columns,
df_row = pd.get_dummies(df_row, columns=['OriginName', 'DestinationName'])
# print(df_row.head())
# print('')

In [0]:
df_row.head()

In [0]:
# splitting the date into train and test

from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(df_row.drop('delays_5min', axis=1), df_row['delays_5min'], test_size=0.2, random_state=42)

In [0]:
train_x.shape

In [0]:
test_x.shape

In [0]:
train_y.shape

In [0]:
test_y.shape

In [0]:
# training the model

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=13)
model.fit(train_x, train_y)

In [97]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
lb.fit(train_y)

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [98]:
# testing model
predicted = model.predict(test_x)
model.score(test_x, test_y)

0.609226833678825

In [0]:
# to generate a set of prediction probabilities from the test data

from sklearn.metrics import roc_auc_score
probabilities = model.predict_proba(test_x)

In [0]:
# Generating an AUC score

roc_auc_score(test_y, probabilities[:,1])

In [0]:
# generating confusion matrix

from sklearn.metrics import confusion_matrix
confusion_matrix(test_y, predicted)

In [0]:
# measuring precision

from sklearn.metrics import precision_score

train_predictions = model.predict(train_x)
precision_score(train_y, train_predictions)

In [0]:
#  measuring recall

from sklearn.metrics import recall_score
recall_score(train_y, train_predictions)